table{
    text-align: center;
    width: 100%;
    margin: 2%;
}

th{
    background-color: gainsboro;
}

td{
    border-bottom: 1px solid;
    border-collapse: collapse;
}

.articleNum{
    width: 10%;
}

.articleTitle, .comment{
    width: 70%;
}

.lastDate{
    width: 10%;
}

