/* Home.css
    Home의 css.
    여백과 버튼을 꾸밈.
*/

body{
    padding: 2%;
}

button{
    background-color: white;
}

li{
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    list-style: none;
}

ul{
    border: 1px gray;
}