body{
    padding: 2%;
    text-decoration: none;
}

button{
    background-color: white;
    margin: 0.5%;
}

table{
    margin: auto;
    align-items: center;
    height: 90px;
    width: 90%;
    border: 1px grey solid;
}

td{
    font-size: medium;
}

.title{
    width: 70%
}

.id{
    width: 20%;
}